// landingCarousel
.landing-carousel-wrapper {
  background: url('images/blur.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 40px 0;
  width: 100%;
}
#landing-carousel {
  margin: 0 auto;
  max-width: 85%;
  @include min($medium) {
    max-width: 80%;
  }
  @include min($large) {
    max-width: 70%;
  }
  .carousel-indicators {
    li {
      border: none;
      background: white;
    }
    .active {
      opacity: 0.5;
    }
  }

  .carousel-indicators li,
  .carousel-indicators li.active {
    margin: 0 7px;
  }

  .carousel-control,
  .carousel-control.right,
  .carousel-control.left {
    background: none;
    &:hover {
      background: inherit;
    }
  }

}

// reviewsCarousel
#reviews-carousel {
  height: 300px;
}
