// landingCarousel
#landingCarousel {
  margin: 25px auto;
  @include min($medium) {
    margin-top: 50px;
    max-width: 80%;
  }
  .carousel-indicators {
    li {
      border: none;
      background: white;
    }
    .active {
      opacity: 0.5;
    }
  }

  .carousel-indicators li,
  .carousel-indicators li.active {
    margin: 0 7px;
  }

  .carousel-control,
  .carousel-control.right,
  .carousel-control.left {
    background: none;
    &:hover {
      background: inherit;
    }
  }

}

// reviewsCarousel
#reviewsCarousel {
  height: 300px;
}
