<div id="services" class="services card">
  <div id="haircut" class="container">
    <div class="services__category">
      <h1>Haircut</h1>
      <h2>Womens</h2>
      <p>$30</p>
      <h2>Mens</h2>
      <p>$30</p>
    </div>
    <hr />
    <div id="styling" class="services__category">
      <h1>Styling</h1>
      <h2>Womens</h2>
      <p>$30</p>
      <h2>Mens</h2>
      <p>$30</p>
    </div>
    <hr />
    <div id="color" class="services__category">
      <h1>Color</h1>
      <h2>Womens</h2>
      <p>$30</p>
      <h2>Mens</h2>
      <p>$30</p>
    </div>
  </div>
</div><!--/.services -->
