.about {
  font-size: 16px;
  flex-direction: column;
  justify-content:  space-around;
  margin: 50px auto;
  max-width: 95%;
  &__left {
    h2 {
      text-align: center;
    }
  }
  &__left,
  &__right {
    @include min($medium) {
      width: 35%;
    }
  }
  .headshot {
    width: 300px;
  }
  @include min($medium) {
    flex-direction: row;
  }
}
