.carousel.card {
  margin-top: 40px;
  @include min($medium) {
    margin-top: 80px;
  }
  position: relative;
  max-width: 78%;
}
.carousel-indicators {
  li {
    border: none;
    background: white;
  }
  .active {
    opacity: 0.5;
  }
}

.carousel-indicators li,
.carousel-indicators li.active {
  margin: 0 7px;
}

.carousel-control,
.carousel-control.right,
.carousel-control.left {
  background: none;
  &:hover {
    background: inherit;
  }
}

// reviewsCarousel
#reviewsCarousel {
  height: 300px;
}
