.location {
  padding: 50px 0 0;
  @include min($medium) {
    padding: 25px 0 25px;
  }
  box-shadow: none;
  iframe {
    height: 100%;
    width: 100%;
  }
  .title {
    margin: 0 auto 20px;
    @include min($medium) {
      max-width: 80%;
      font-size: 16px;
    }
  }
  a.phone {
    color: blue;
    text-decoration: underline;
    @include max($small) {
      left: 15px;
      bottom: -60px;
    }
  }
  @include max($small) {
    margin: 50px auto 100px;
    box-shadow: none;
  }
}
