.location {
  flex-direction: row;
  justify-content: space-around;
  padding: 50px 0 0;
  @include min($medium) {
    padding: 25px 0 25px;
  }
  &__hours {
    display: inline-block;
    padding: 50px 0;
    h2 {
      color: gray;
      margin-bottom: 10px;
      text-align: left;
    }
    .title {
      color: black;
    }
  }
  &__map {
    iframe {
      height: 100%;
      width: 100%;
    }
  }
  .title {
    margin: 0 auto 20px;
    @include min($medium) {
      max-width: 80%;
      font-size: 16px;
    }
  }
  a.phone {
    color: blue;
    text-decoration: underline;
    @include max($small) {
      left: 15px;
      bottom: -60px;
    }
  }
  @include max($small) {
    margin: 50px auto 100px;
    box-shadow: none;
  }
}
