.reviews {
  margin: 50px 0;
  background: $smoke;
  height: contain;
  padding: 0;
  h1 {
    margin: 75px 0 40px;
  }
  .carousel {
    margin: 0 auto;
  }
  a {
    color: blue;
    font-size: 14px;
    text-decoration: underline;
    position: absolute;
    right: 0;
    bottom: 35px;
    @include min($medium) {
      font-size: 18px;
      right: 120px;
      bottom: 65px;
    }
  }
}
