.schedule {
  justify-content:  space-around;
  background: $smoke;
  width: 100%;
  &__left {
    display: flex;
    flex-direction: column;
    padding: 50px;
  }
  &__right {
    display: inline-block;
    padding: 40px 0;
    h2 {
      color: gray;
      margin-bottom: 10px;
      text-align: left;
    }
    .title {
      color: black;
    }
  }
}
