.container-services {
  background: url('images/brick.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 40px 0;
  margin: 0 auto;
  .services {
    h2,
    h3,
    h4,
    p {
      color: $smoke;
    }
    padding: 0 20px 60px;
    .title {
      text-align: center;
    }
  }
}
