@import 'basics/vars';
@import 'basics/mixins';
@import 'basics/base';
@import 'buttons';
@import 'basics/typography';
@import 'card';
@import 'carousel';
@import 'top';

// wrapper
.wrapper {
  max-width: 80%;
  .card {
    margin: 50px 0;
  }
}
// navbar
.navbar {
  background: white;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.05);
}

// schedule
.schedule {
  display: flex;
  justify-content: space-between;
  @include min($medium) {
    margin: 0 auto;
    max-width: 90%;
  }
  .card {
    display: flex;
    flex-direction: column;
    padding: 50px;
    .title {
      margin-bottom: 40px;
    }
  }
  @include max($medium) {
    flex-direction: column-reverse;
  }
}

// reviews
.reviews {
  height: contain;
  padding: 0;
  margin: 0 auto;
  h1 {
    margin: 75px 0 40px;
  }
  .carousel {
    margin: 0 auto;
  }
  a {
    color: blue;
    font-size: 14px;
    text-decoration: underline;
    position: absolute;
    right: 0;
    bottom: 35px;
    @include min($medium) {
      font-size: 18px;
      right: 120px;
      bottom: 65px;
    }
  }
}

// location
.location {
  box-shadow: none;
  iframe {
    height: 100%;
    width: 100%;
  }
  .title {
    margin: 0 auto 50px;
    @include min($medium) {
      max-width: 80%;
      font-size: 16px;
    }
  }
  a.phone {
    color: blue;
    text-decoration: underline;
    @include max($small) {
      left: 15px;
      bottom: -60px;
    }
  }
  @include max($small) {
    margin: 50px auto 100px;
    box-shadow: none;
  }
}

// footer
footer.jumbotron {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
  img {
    width: 60px;
    margin: 30px;
    height: auto;
    @include max($small) {
      width: 40px;
    }
  }
}

// services
.services {
  &__category {
    display: flex;
    flex-direction: column;
  }
}
