@import './basics/vars';
@import './basics/mixins';
@import './basics/base';
@import './buttons';
@import './basics/typography';
@import 'card';
@import 'carousel';

// navbar
.navbar {
  background: white;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.05);
}

// schedule
.schedule {
  margin-bottom: 100px;
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    @include max($small) {
      flex-direction: column;
    }
    .card {
      display: flex;
      flex-direction: column;
      height: 300px;
      margin: 5%;
      .title {
        margin-bottom: 45px;
        @include max($small) {
          margin: 25px;
        }
      }
      @include max($small) {
        height: 200px;
        width: 300px;
        margin: 4%;
      }
    }
  }
}

// reviews
.reviews.well {
  height: contain;
  padding: 0;
  margin: 0;
  .container {
    h1 {
      margin: 75px 0 40px;
    }
  }
}

// location
.location.card {
  padding: 60px;
  .title {
    margin-bottom: 50px;
  }
  iframe {
    height: 100%;
    width: 100%;
  }
  @include max($small) {
    box-shadow: none;
    max-width: 100%;
  }
}

// footer
footer.jumbotron {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
  img {
    width: 60px;
    margin: 30px;
    height: auto;
  }
  p {
    font-size: 16px;
  }
}
