@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular-webfont.eot');
  src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
       url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
       url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Open Sans';
}

.title {
  text-align: center;
}

.hidden {
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  animation: fade-out 1s;
  animation-fill-mode: forwards;
}

.visible {
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  animation: fade-in 1s;
  animation-fill-mode: forwards;
}

.wrapper {
  max-width: 90%;
  @include min($medium) {
    max-width: 80%;
  }
}

.navbar {
  background: white;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.05);
}

footer {
  background: whitesmoke;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
  img {
    width: 60px;
    margin: 30px;
    height: auto;
    @include max($small) {
      width: 40px;
    }
  }
}
