// font family
.navbar {
  font-family: $fancy;
}

.schedule,
.reviews a,
.location {
  font-family: $regular;
}

// font size / style
a,
h2 {
  color: black;
}

a,
p,
h1,
h2 {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  font-size: 22px;
}

.services {
  .title {
    font-size: 30px;
  }
}

.title {
  margin: 20px 0;
}

.navbar {
  font-size: 18px;
}

.quote {
  margin: 0 auto;
  font-style: italic;
  letter-spacing: 2px;
  text-align: center;
  font-size: 12px;
  @include min($medium) {
    font-size: 14px;
    width: 500px;
  }
  @include min($large) {
    width: 880px;
  }
  @include min($larger) {
    width: 100%;
  }
}

.quoter {
  text-align: right;
  @include min($medium) {
    padding: 50px 200px 0 0;
  }
}

footer {
  p {
    font-size: 16px;
  }
}
