$brick: rgba(178, 68, 17, 1);
$shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.05);
$smoke: whitesmoke;

$small: '500px';
$medium: '768px';
$large: '1050px';
$larger: '1250px';

$regular: 'Open Sans';
$fancy: 'Kleptocracy Titling';


$border: 1px solid red;
